/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links a:hover {
    color: #f39c12;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #111, #444);
    color: white;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 25px;
    background: #f39c12;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}

.btn:hover {
    background: #fff;
}

/* About Section */
.about, .contact {
    padding: 50px 20px;
    text-align: center;
}

/* Services */
.services {
    padding: 50px 20px;
    background: #f8f8f8;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
    color: #333;
}

/* Footer */
footer {
    text-align: center;
    padding: 18px;
    background: #111;
    color: white;
}
